.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E3F2FD;
    border: 1px solid #90CAF9;
    border-radius: 0.5rem;
    padding: 1rem;

    span {
      font-size: 1.05rem;
      font-weight: bold;

      &.value {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }