.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2.5rem;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .left {
    width: 85%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    width: 15%;
    margin: 1rem auto;
  }
  
  .initialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #90CAF9;
    border-radius: 0.5rem;
    background-color: #E3F2FD;
    box-shadow: 0px 10px 15px rgba(#2196F3, 0.5);


    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
  }

  .dataSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    width: 100%;
    margin: 1rem auto;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 0.5rem auto;

      &.xs {
        justify-content: center;
        column-gap: 2rem;
      }
    }
  }
}